body {
    color:black;
    background-color:white;
    background-image:url(img/copy-space-white-background-with-arrows_23-2148845468.avif);
    margin:0;
    background-repeat: no-repeat;
    background-size: cover;
    }